/* ul flex container */
<<<<<<< HEAD
.first-list {
    /* Make this element a flex container */
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;

=======
body {
    padding: 0;
>>>>>>> d3bdd16c6024b8635fc87c827e5fb2f7266bac0a
}

img {
    max-width: 100%;
}

<<<<<<< HEAD
=======
.first-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* flex-direction: column; */
    padding: 0;
}

>>>>>>> d3bdd16c6024b8635fc87c827e5fb2f7266bac0a
.first-list li {
    padding: 20px;
    /* border: 1px solid black; */
    list-style: none;
<<<<<<< HEAD
    
=======
>>>>>>> d3bdd16c6024b8635fc87c827e5fb2f7266bac0a
}

.first-list .bold {
    font-size: 25px;
}

#columns {
    display: flex;
    justify-content: space-between;
}

#columns section {
<<<<<<< HEAD
    /* defines the width of the elements within a container */
    flex-basis: 30%;
    
}

#header-text {
    background-image: url('img/sailboat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* vh is view height */
=======
    flex-basis: 30%;
}

#header-text {
    background-image: url("./img/sailboat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
>>>>>>> d3bdd16c6024b8635fc87c827e5fb2f7266bac0a
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
<<<<<<< HEAD
}
=======
}


>>>>>>> d3bdd16c6024b8635fc87c827e5fb2f7266bac0a
