
body {
    background-color: #fdfcf1 ;
    .index{
        background-color: green;
        min-height: 100vh;
        width: 100%;
        .post-card{
            background-color: white;
        }
    }
    .new{
        background-color: purple;
    }
    .edit{
        background-color: pink;
    }
    .show{
        background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        .post-card{
            background-color: black;
            color: ghostwhite;
            text-align: center;
            width: 90%;
            box-shadow: 8px 8px 4px 16px black;
        }
    }
}