body {
    background: #fffaf0;
    margin: 0 auto;
}

img {
    width: 130px;
}
/* HEADER */
h1 {
    background-color: black;
    color: white;
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    height: 45vh;
    margin: 0;
    
}

h1 p {
    margin: 0;
   
}

.header {
    color: white;
    font-size: 20px;
    display: flex;
    width: 50%;
    height: 20%;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.storeNameContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addChocolate {
    color: white;
    text-decoration: none;
}


#subtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*INDEX*/

a {
    text-decoration: none;
    color: black;
    font-family: 'Fraunces', serif;
    font-size: 20px;
}

.chocolateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    align-content: space-around;
    padding: 0px 40px 0px 40px;
    align-items: baseline;
}

.chocolateContainer li {
    width: 25%; 
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 46px 10px;
    
}

/*SHOW PAGE*/
h2 {
    text-align: center;
    font-family: 'Fraunces', serif;
}

.showContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', italic;
    /*font-style: italic;*/
    padding: 60px;

}

#productDescription {
    font-family: 'Montserrat', italic;
    font-style: italic;

}



/*FOOTER*/
footer {
    background-color: black;
    color: white;
    font-family: Montserrat;
    margin: 0;
    height: 10vh;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* DELETE && BUY BUTTON */

.deleteButton, .buyButton{
    height: 40px;
    width: 100%;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #fffaf0;
    align-items: center;
    margin: 10px;
}

.deleteButton:hover, .buyButton:hover {
    cursor: pointer;
    background-color:black;
    color:#fffaf0;
}

/*FORM*/

.form {
  
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    letter-spacing: 1.5px;
    
}

.form input{
    margin: 3px;
}

.submitButton {
    height: 40px;
    width: 30%;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #fffaf0;
    align-items: center;
}

.submitButton:hover {
    cursor: pointer;
    background-color:black;
    color:#fffaf0;
}

/*Chocolate Pop Up*/


/* 

.chocolateName {
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
}

.chocolateName::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms;
}

.chocolateName:hover::before {
    opacity: 1;
} */


.test {
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    
}

.test::before {
    content: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms;
}

.test:hover::before {
    opacity: 1;
}







