body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5c/7a/93/5c7a9388fd4cb59fcbb9fedc5fa12bd3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 1;
}


#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	margin: 15px;
	padding: 18px;



}