body {
    background-color: aquamarine;
}

.letters {
    border: solid 1px black;
    width: 200px;
    height: 200px;
}

.words-container, .scoreBoard {
    border: solid 1px black;
    width: 200px;
    height: 200px;
}
